$body-font: -apple-system-font, "Helvetica Neue", Helvetica, sans-serif;
$code-font: "Source Code Pro", Monaco, Menlo, Consolas, monospace;

$body-background: #f2f2f2;
$content-background: #fff;
$content-border: #e9e9e9;
$tint-color: #08c;
$object-background: #f9f9f9;
$object-border: #e9e9e9;

$mobile-max-width: 650px;
