.xcode {
	header, aside {
		display: none;
	}

	.container {
		padding: 0;
	}

	article {
		margin-top: 0;

		#content {
			border: 0;
			margin: 0;
		}
	}

	.method-info {
		&, .section-method.hide & {
			max-height: auto;
			overflow: visible;

			&.hiding {
				display: block;
			}
		}
	}
}
